<h1>Listing fires</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Intensity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fires.each do |fire| %>
  <tr>
    <td><%= fire.location %></td>
    <td><%= fire.intensity %></td>
    <td><%= link_to 'Show', fire %></td>
    <td><%= link_to 'Edit', edit_fire_path(fire) %></td>
    <td><%= link_to 'Destroy', fire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fire', new_fire_path %>
