<%= form_for(@candy) do |f| %>
  <% if @candy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candy.errors.count, "error") %> prohibited this candy from being saved:</h2>

      <ul>
      <% @candy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :flavors %><br>
    <%= f.text_field :flavors %>
  </div>
  <div class="field">
    <%= f.label :awards %><br>
    <%= f.text_field :awards %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
