<h1>Listing tacos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Flavor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tacos.each do |taco| %>
  <tr>
    <td><%= taco.name %></td>
    <td><%= taco.flavor %></td>
    <td><%= link_to 'Show', taco %></td>
    <td><%= link_to 'Edit', edit_taco_path(taco) %></td>
    <td><%= link_to 'Destroy', taco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taco', new_taco_path %>
