  <nav>
    <%= link_to("Home", root_path) %> |
    <%= link_to("Tasks", todos_path) %>
    <%= link_to("Add a task", new_todo_path) %>
    <%= link_to("Contacts", contacts_path) %> |
    <%= link_to("New Contact", new_contact_path) %> |
    <%= link_to "Aboot", aboot_path %>
  </nav>