<h1>Listing weapons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weapon type</th>
    <th>Slug</th>
    <th>Slain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weapons.each do |weapon| %>
  <tr>
    <td><%= weapon.name %></td>
    <td><%= weapon.weapon_type %></td>
    <td><%= weapon.slug %></td>
    <td><%= weapon.slain %></td>
    <td><%= link_to 'Show', weapon %></td>
    <td><%= link_to 'Edit', edit_weapon_path(weapon) %></td>
    <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weapon', new_weapon_path %>
